<div class="home-page">
	<div class="banner-image-container">
		<img id="banner-image" src="/assets/tree.jpeg" alt="tree-in-field">
	</div>
	<div class="content-section">
		<div class="section-header">
			Introduction
		</div>
		<div>
			<blockquote>See the forest through the trees</blockquote>
		</div>
	</div>
</div>