<nav class="navbar-fixed-top">
	<div class="navbar">
		<div class="container-fluid nav-container">
			<div class="header col-md-2">
				app
			</div>
			<!-- Bootstrap drop down -->
			<div class="menu-item col-md-3 dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
					sales
					<!-- add dropdown caret arrow ... may not want this-->
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="">sales report</a></li>
				</ul>
			</div>
			<div class="menu-item col-md-3">
				<a class="dropdown-toggle" data-toggle="dropdown">
					employees
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="">employee roster</a></li>
					<li><a href="">manage teams</a></li>
				</ul>
			</div>
			<div class="menu-item col-md-3">
				<a class="dropdown-toggle" data-toggle="dropdown">
					inventory
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="">manage store inventory</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>